doctype html
html
  include ./partial/_header
  body
    include ./partial/_nav
    .container.body-content
      block content
      block footer
        footer
          hr
          p &copy; 2016.10 - 星火社区  
    
    script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    block scripts
