doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 星火社区 - 星星之火，可以燎原 
    link(rel='stylesheet' href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/user.css')
    block styles
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.site-title(href='/') 星火社区
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') 首页
            li
              a(href='/blog') 博客
            li
              a(href='/question') 问答
          
    .container.body-content
      .signup
        .signup-header
          h4 登陆
        .signup-body
          form#loginform.form-horizontal(action="/user/auth", method="post", role="form")
            .form-group
              label.col-md-3.control-label(for="username") 账号
              .col-md-9
                input#username.form-control(type="text", name="username")
            .form-group
              label.col-md-3.control-label(for="password") 密码
              .col-md-9
                input#password.form-control(type="password", name="password")
            .form-group
              .col-md-9.col-md-offset-3
                button.btn.btn-primary(type="submit") 登陆
      hr
      footer
        p &copy; 2016.10 - 星火社区 designer by cui

    script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js')
    block scripts
      script(src='/javascripts/signup.js')
