.panel.panel-default
    .panel-heading 基本信息
    .panel-body
        .row
            .col-md-3
                form(action="/user/upload", method="post")
                    img(src="#{req.user.avatar}")
            .col-md-9
                form.form-horizontal(action="/users/", method="put")
                    .form-group
                        label.col-sm-2.control-label(for="username") 账号
                        .col-sm-10
                            input#username.form-control(type="text",name="username",value="#{req.user.username}")
                     .form-group
                        label.col-sm-2.control-label(for="name") 姓名
                        .col-sm-10
                            input#name.form-control(type="text",name="name",value="#{req.user.name}")
                    .form-group
                        label.col-sm-2.control-label(for="email") 邮箱
                        .col-sm-10
                            input#email.form-control(type="email",name="email",value="#{req.user.email}")
                    .form-group
                        .col-sm-10.col-sm-offset-2
                            button.btn.btn-primary 保存   
                