doctype html
html
  include ../partial/_header
  block styles
    link(rel='stylesheet', href='/stylesheets/user.css')
  body
    include ../partial/_nav       
    .container.body-content
      .signup
        .signup-header
          h4 用户注册
        .signup-body
          form#signform.form-horizontal(action="/user/create", method="post", role="form")
            .form-group
              label.col-md-3.control-label(for="username") 账号
              .col-md-9
                input#username.form-control(type="text", name="username")
            .form-group
              label.col-md-3.control-label(for="email") 邮箱
              .col-md-9
                input#email.form-control(type="text", name="email")
            .form-group
              label.col-md-3.control-label(for="password") 密码
              .col-md-9
                input#password.form-control(type="password", name="password")
            .form-group
              label.col-md-3.control-label(for="chkpwd") 密码确认
              .col-md-9
                input#chkpwd.form-control(type="password", name='chkpwd')
            .form-group
              .col-md-9.col-md-offset-3
                input(type='hidden', name='_csrf', value="#{csrf_token}")
                button.btn.btn-primary(type="submit") 提交

      include ../partial/_footer
      block scripts
        script(src="//cdn.bootcss.com/jquery.form/3.51/jquery.form.min.js")
        script(src='//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js')
        script(src='/javascripts/signup.js')
